include examples/*.py
include examples/advanced/*.py
include README.md
include tests/*.py
include tests/*.md
include doc/*.py
include doc/*.rst
include doc/*.md
include doc/*.txt
include doc/artwork/*
